<div class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-box">
        <div class="header">
            <h1>{title}</h1>
        </div>
        <div class="body">
            <div class="section">
                <div style="display: inline-block;vertical-align:top;margin-right:1em;">
                    <label for="dialog-edittext-fontsize"
                           style="display: block;">
                        Font Size:
                    </label>
                    <select id="dialog-edittext-fontsize"
                            style="display: block;">
                        <option value=".5em">Extra Small</option>
                        <option value=".75em">Small</option>
                        <option value="1em">Medium</option>
                        <option value="2em">Large</option>
                        <option value="3em">Extra Large</option>
                    </select>
                </div>
                <div style="display:inline-block;vertical-align:top;">
                    <label for="dialog-edittext-fontcolor"
                           style="display:block;">
                        Color:
                    </label>
                    <input 
                        id="dialog-edittext-fontcolor"
                        type='text' style="display:block;"/>
                </div>
            </div>
            <div class="section" style="text-align:center;">
                <textarea 
                    id="dialog-edittext-input" 
                    style="width:100%;height:5em;">
                    {default.text}
                </textarea>
            </div>
            <div id="button-container" style="text-align:center;">
                <button 
                    id="dialog-edittext-okay" 
                    class="full">Okay</button>
                <button 
                    id="dialog-edittext-cancel" 
                    class="full">Cancel</button>
            </div>
        </div>
    </div>
</div>