<!-- Simple dialog template -->
<div class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-box">
        <div class="header">
            <h1>{title}</h1>
        </div>
        <div class="body" style="text-align:center;">
            <div class="section">
                <input id="dialog-input-input"
                       class="full"
                       type="text"
                       placeholder="{placeholder}" />
            </div>
            <div id="button-container">
                <button id="dialog-input-ok" class="full">
                    Okay
                </button>
            </div>
        </div>
    </div>
</div>